.Not_name {
    margin: 10px;
    background-color: royalblue;
    padding: 1px 15px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
  }
  .Not_update {
    padding: 1px 15px;
  }
  